* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101010;
}

h1 {
  color: white;
  letter-spacing: 2px;
  padding: 0px 0px 20px 0px;
  cursor: pointer;
}

.App {
  padding: 50px 10% 0 10%;
  color: white;
}

span {
  color: lightseagreen;
}

.b1 {
  color: white;
  background-color: gray;
  padding: 5px 10px 5px 10px;
  margin: 5px 0px 5px 2px;
  cursor: pointer;
}
.b1:hover {
  color: lightseagreen;
  transition: all 0.5s;
}
.b2 {
  color: white;
  background-color: gray;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 20px 2px;
  cursor: pointer;
}
.b2:hover {
  color: lightseagreen;
  transition: all 0.5s;
  /* border-radius: 20px; */
}

.task {
  padding: 3px 5px 3px 10px;
}

input {
  background-color: antiquewhite;
  padding: 10px 2px 5px 10px;
}

label {
  padding-right: 15px;
}

.scroll {
  height: 470px;
  overflow: auto;
}
